# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=ciberseguridad_dev

# Configuración de Docker 
SIMULAR_DOCKER=false

# Otras configuraciones
RAILS_ENV=development
