# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=ciberseguridad_dev

# Para conexión a Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu_api_key
SUPABASE_DB_URL=postgresql://postgres:postgres@db.tu-proyecto.supabase.co:5432/postgres

# Configuración de Docker 
SIMULAR_DOCKER=false

# Otras configuraciones
RAILS_ENV=development
