<div class="h-full w-full bg-[#1a1b26] relative" data-controller="wetty">
  <iframe 
    src="<%= "http://localhost:3001/wetty?username=kali" %>"
    class="w-full h-full border-0"
    data-wetty-target="terminal">
  </iframe>
</div>