@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  .animate-fade-out {
    animation: fadeOut 0.3s ease-in-out forwards; /* forwards mantiene el estado final */
  }

  /* Añadir clases para las notificaciones */
  .flash-message {
    animation: fadeIn 0.3s ease-in-out;
  }

  .toast-notification {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-1rem);
    visibility: hidden; /* Asegura que el elemento no sea interactivo */
  }
}